<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wit.android.fitgirl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_heartbeat"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_heartbeat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HealthTipsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomeActivity"
            tools:targetApi="jelly_bean" />
        <activity android:name=".RecipesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".FitnessActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".AboutFitGirlActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".ArticleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".details"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomeActivity">

        </activity>
    </application>

</manifest>